@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*Inputs*/
button {
  cursor: pointer;
}

input {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid white;
}

textarea {
  width: 84%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid white;
  resize: none;
}

input[type="submit"] {
  margin-top: 10px;
  height: 30px;
  padding: 3px;
  width: 84%;
  font-size: 16px;
  cursor: pointer;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
  border: 1px solid gray;
}

/*Container*/
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

/*Time, greeting, and message section*/
.text-display {
  color: white;
  display: block;
  position: absolute;
  top: 30vh;
  left: 25vw;
  width: 50%;
  text-align: center;
}

#time {
  font-size: 80px;
  cursor: pointer;
}

.text-display h3 {
  font-size: 28px;
  word-spacing: 2px;
}

#message {
  font-weight: normal;
  display: block;
  margin-top: 80px;
}

#message-content {
  display: block;
  font-size: 25px;
  border-bottom: 1px solid white;
}

/*To do list section*/
#todo-container {
  position: relative;
}

.todo-icon-container {
  color: white;
  border: solid 0px white;
  position: absolute;
  right: 0;
  padding: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.todo-icon-container:hover {
  border: solid 3px white;
  border-radius: 10px;
}

#todo-text {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

/*To do navigation pane*/
#todo-close {
  width: 90%;
  margin-top: 5px;
  font-size: 30px;
  color: white;
  text-align: right;
  cursor: pointer;
}

.todo-list-container {
  text-align: center;
  height: 100vh;
  backdrop-filter: blur(20px);
  position: fixed;
  transition: 0.5s all;
  color: white;
  right: -300px;
  width: 300px;
}

.todo-list-container #todo-close {
  width: 90%;
}

#add-todo {
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
}

.add-todo-lists {
  display: none;
  text-align: left;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}

.todo-lists {
  margin-top: 20px;
  width: 100%;
}

.todo-item {
  padding: 10px;
  text-align: justify;
  margin: 0 15px 10px 15px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
}

.todo-header {
  display: flex;
}

#done-todo {
  display: inline-block;
  margin: auto 10px;
}

.todo-delete {
  display: none;
  font-size: 20px;
  margin: 10px -10px -10px -10px;
  padding: 10px;
  background-color: rgba(236, 2, 2, 0.87);
  text-align: center;
  transition: 0.5s display;
  cursor: pointer;
}

#checklist {
  font-size: 25px;
  cursor: pointer;
  border: 3px solid transparent;
}

.todo-item hr {
  margin: 10px 0;
}

/*Weather part*/
.weather-icon-container {
  color: white;
  border: solid 0px white;
  position: absolute;
  right: 44%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.weather-icon-container:hover {
  border: solid 3px white;
  border-radius: 10px;
}

#weather-icon {
  font-size: 55px;
}

#current-weather {
  width: 200px;
  margin-top: -40px;
  image-rendering: pixelated;
  height: 200px;
}

#weather-text {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 7px;
}

.weather-list-container {
  position: fixed;
  width: 100vw;
  height: 180px;
  backdrop-filter: blur(20px);
  top: -180px;
  transition: 0.5s all;
}

.weather-list-container #todo-close {
  width: 98%;
}

.weather-information {
  margin-top: -10px;
  display: flex;
}

#location {
  margin: 0 0 -3px 10px;
}

.weather-location {
  width: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  margin: 0 10px 10px 50px;
}

#submit-location {
  width: 78%;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  cursor: pointer;
}

#current-weather-icon {
  display: block;
  font-size: 110px;
  height: 147px;
  color: white;
  margin: 0 40px;
  padding-top: 10px;
}

.weather-display {
  display: flex;
}

.weather-section {
  color: white;
  margin: 0 20px;
}

#weather-width {
  width: 250px;
}

#weather-info-height {
  font-size: 15px;
  margin-top: -5px;
  height: 250px;
} 

.weather-high-temperature,
.weather-low-temperature {
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 10px;
}

.weather-low-temperature {
  background-color: lightseagreen;
}

.weather-display-location {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.weather-current-temperature {
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

#other-icon {
  overflow: hidden;
  display: inline-block;
  font-size: 18px;
  padding-top: 5px;
}

#weather-section-display {
  padding: 3px;
  margin: 5px 10px;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
}

/*Footer*/
footer {
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  display: flex;
  color: white;
}

.footer__title {
  margin: 10px 0;
}

#logo {
  width: 100px;
  margin-right: 20px;
}

/*Background images*/
.wallpaper {
  opacity: 0;
}

.wallpaper.active {
  opacity: 1;
  display: block;
  height: 120vh;
}

.rain-day {
  background: url(images/rain-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -100px;
}

.rain-night {
  background: url(images/rain-night.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -900px;
}
