@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  text-decoration: none;
}

a {
  color: white;
}

/*Inputs*/
button {
  cursor: pointer;
}

input {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid white;
}

textarea {
  width: 84%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid white;
  resize: none;
}

input[type="submit"] {
  margin-top: 10px;
  height: 30px;
  padding: 3px;
  width: 84%;
  font-size: 16px;
}

select {
  width: 85%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid white;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
  border: 1px solid gray;
}

/*Container*/
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

/*Widget items*/
.widget-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
  width: 300px;
  height: 80px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: solid 5px white;
  border-radius: 10px;
  opacity: 0.9;
}

.widget-icon {
  font-size: 20px;
  overflow: hidden;
  color: white;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.5s background-color;
}

.widget-icon:hover {
  background-color: rgb(236, 182, 2);
}

/*Time, greeting, and message section*/
.text-display {
  overflow-y: hidden;
  color: white;
  display: block;
  position: absolute;
  top: 30vh;
  left: 25vw;
  width: 50%;
  text-align: center;
}

#time {
  font-size: 80px;
  cursor: pointer;
}

.text-display h3 {
  font-size: 28px;
  word-spacing: 2px;
}

#message {
  font-weight: normal;
  display: block;
  margin-top: 80px;
}

#message-content {
  display: block;
  font-size: 25px;
  border-bottom: 1px solid white;
}

/*To do list section*/
#todo-container {
  position: relative;
}

/*To do navigation pane*/
#close {
  width: 90%;
  margin-top: 5px;
  font-size: 30px;
  color: white;
  text-align: right;
  cursor: pointer;
}

.todo-list-container {
  top: 0;
  text-align: center;
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: fixed;
  transition: 1s all;
  color: white;
  right: -300px;
  width: 300px;
}

.todo-list-container #close {
  width: 98%;
}

#add-todo {
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
}

.add-todo-lists {
  display: none;
  text-align: left;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}

.todo-lists {
  margin-top: 20px;
  width: 100%;
}

.todo-item {
  padding: 10px;
  text-align: justify;
  margin: 0 15px 10px 15px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
}

.todo-header {
  display: flex;
}

#done-todo {
  display: inline-block;
  margin: auto 10px;
}

.todo-delete {
  display: none;
  font-size: 20px;
  margin: 10px -10px -10px -10px;
  padding: 10px;
  background-color: rgba(236, 2, 2, 0.87);
  text-align: center;
  transition: 0.5s display;
  cursor: pointer;
}

#checklist {
  font-size: 25px;
  cursor: pointer;
  border: 3px solid transparent;
}

.todo-item hr {
  margin: 10px 0;
}

/*Weather part*/
#current-weather {
  font-size: 150px;
  overflow: hidden;
  color: white;
  margin: 0 10px;
}

.weather-list-container {
  position: fixed;
  width: 100vw;
  height: 220px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  top: -220px;
  transition: 1s all;
  overflow-y: hidden;
}

.weather-list-container #close {
  width: 98%;
}

.weather-information {
  margin-top: -5px;
  display: flex;
}

#location {
  margin: 0 0 -3px 10px;
}

.weather-location {
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  margin: 0 10px 10px 50px;
}

#submit-location {
  width: 78%;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  cursor: pointer;
}

.weather-display {
  display: flex;
}

.weather-section {
  color: white;
  margin: 0 20px;
}

#weather-width {
  width: 240px;
}

#weather-info-height {
  font-size: 15px;
  margin-top: -5px;
  height: 250px;
}

.weather-high-temperature,
.weather-low-temperature {
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 10px;
}

.weather-low-temperature {
  background-color: lightseagreen;
}

.weather-display-location {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.weather-current-temperature {
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

#other-icon {
  overflow: hidden;
  display: inline-block;
  font-size: 18px;
  padding-top: 5px;
}

#weather-section-display {
  padding: 3px;
  margin: 5px 10px;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
}

/*News section*/
.news-list-container {
  position: absolute;
  top: 0;
  width: 700px;
  left: -700px;
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 1s all;
}

.news-list-container #close {
  width: 98%;
}

#search {
  margin: 0 0 -3px 10px;
}

.search-news {
  background-color: white;
  width: 250px;
  margin: 5px auto 20px auto;
  padding: 5px;
  border-radius: 20px;
}

.news-buttons {
  margin-top: -5px;
  width: 100%;
  text-align: center;
}

.news-buttons button {
  height: 30px;
  width: 43%;
  background-color: white;
  color: black;
  padding: 5px;
  border: 2px white solid;
  border-radius: 5px;
}

.advanced-search-section {
  display: none;
  color: white;
  margin: 20px 0;
  padding: 20px 0 20px 20px;
  background-color: rgb(255, 255, 255, 0.5);
}

.news-reminder {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  padding-right: 10px;
  text-align: justify;
}

.headline-section {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px 0;
  padding: 0 20px;
}

#load-more-btn {
  width: 100%;
  grid-column: 1/3;
  cursor: pointer;
}

#endpoint-type {
  padding: 10px 20px 0 20px;
  color: white;
}

.news-item {
  margin: 10px 0;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}

.news-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-content {
  padding: 10px;
}

#news-date-published {
  margin-top: -5px;
  color: gray;
}

#news-headline {
  margin: 3px 0 -1px 0;
}

.click-more,
.click-full-news {
  margin: 10px 0 0 0;
  border-top: 2px solid black;
  color: black;
  padding-top: 10px;
  display: flex;
  cursor: pointer;
}

#click-arrow {
  margin: 0 10px;
}

.click-more p {
  font-size: 15px;
}

.news-description-container {
  display: none;
  margin: 10px 0;
  text-align: justify;
}

.news-sources {
  margin: 15px 0;
  font-style: italic;
}

/*Footer*/
footer {
  padding: 10px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: white;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  margin: 10px 0;
  display: flex;
}

.footer-powered-api {
  margin-top: 10px;
}

.api-images {
  display: flex;
}

.api-images img {
  width: 100px;
}

.footer-image-credits {
  border-top: 2px solid white;
  padding-top: 10px;
  color: white;
}

#logo {
  width: 120px;
  margin-right: 20px;
}

/*Error handling*/
.modal-container {
  position: absolute;
  top: 0;
  display: none;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  animation-name: open;
  animation-duration: 0.5s;
}

.modal-content {
  opacity: 0.9;
  border-radius: 5px;
  margin: 200px auto;
  width: 50%;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.modal-header {
  text-align: center;
  background-color: rgb(218, 39, 39);
  color: white;
  font-size: 25px;
  margin: -10px;
  padding: 10px;
}

.modal-content p {
  margin-top: 10px;
  padding: 10px 0;
}

#ok {
  font-size: 15px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 3px solid red;
  border-radius: 10px;
  padding: 5px;
}

@keyframes open {
  from {
    backdrop-filter: gray(0);
    -webkit-backdrop-filter: gray(0);
    height: 0;
  }

  to {
    backdrop-filter: gray(20px);
    -webkit-backdrop-filter: gray(20px);
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  /*Todo*/
  .todo-list-container {
    width: 500px;
    right: -500px;
  }

  /*Weather*/
  .weather-list-container {
    height: 370px;
    top: -370px;
  }

  .weather-information {
    display: block;
  }

  .weather-location {
    margin: 10px auto;
    width: 80%;
  }

  #weather-width {
    text-align: center;
  }

  #current-weather {
    margin-left: 120px;
  }

  .submit-container {
    text-align: center;
  }

  #submit-location {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 920px) {
  /*Todo*/
  .todo-list-container {
    width: 100%;
    right: -100vw;
  }

  /*Weather*/
  .weather-list-container {
    height: 100vh;
    top: -100vh;
  }

  #current-weather {
    margin: -10px;
  }

  .weather-display {
    align-items: center;
    flex-direction: column;
  }

  .weather-section {
    margin: 30px 0;
  }

  /*News*/
  .news-list-container {
    width: 100%;
    left: -100vw;
  }
}

@media (max-width: 800px) {
  #time {
    font-size: 60px;
  }

  .footer-main {
    flex-direction: column;
  }

  .footer-powered-api {
    border-top: 2px solid white;
    margin-top: 10px;
    padding-top: 10px;
  }
}

@media (max-width: 720px) {
  .headline-section {
    display: block;
  }
}

@media (max-width: 610px) {
  #time {
    font-size: 40px;
  }

  .weather-current-temperature {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .footer-title {
    flex-direction: column;
  }

  #logo {
    margin: 10px auto;
  }
}

@media (max-width: 360px) {
  /*Time display*/
  .text-display {
    width: 70%;
    left: 15vw;
  }

  #current-weather {
    margin: -5px;
    font-size: 90px;
  }

  .weather-display {
    align-items: center;
    flex-direction: column;
  }

  .weather-section {
    margin: 10px 0;
  }
}
